.center-form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex;
    height: 90vh;
}

.center-form Form {
    max-width: 400px;
    margin-top: 50px;
    width: 100%;
    padding: 20px;
    background-color:#fff ;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.center-form Form .form-control{
    margin-bottom: 20px;
    padding: 10px;
}